<template>
    <div class="row body">
        <div class="data col-12">
            <div class="form col-12 col-sm-12 col-md-10 col-lg-6 col-xl-4">
                <div class="form-image blue-font">
                    <h1>
                        KPFU
                    </h1>
                    <h5>.COURSES</h5>
                </div>
                <div>
                    <label class="text-danger" v-for="error in this.errors">
                        {{error}}
                    </label>
                    <input v-model="loginForm.login" class="form-control border" placeholder="Логин" style="margin-bottom: 20px"/>
                    <input v-model="loginForm.password" type="password" class="form-control border" placeholder="Пароль" style="margin-bottom: 20px"/>
                    <div class="login-buttons">
                        <div class="checkbox-buttons" >
                            <input class="checkbox" type="checkbox"/>
                            <label style="margin: 0px; padding-left: 5px" >Запомнить меня</label>
                        </div>

                        <div style="width: 40%">
                            <button @click="this.signin" class="btn btn-default border login-button">Вход</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {Getter, Mutation} from "vuex-class";
    import Optional from "../components/model/Optional";
    import User from "../components/model/User";
    import LoginForm from "../components/model/LoginForm";
    import axios from "axios"

    @Component
    export default class SignInPage extends Vue {

        @Mutation
        setUser: (user: Optional<User>) => void;

        @Getter
        getUser: Optional<User>;

        loginForm:LoginForm = new LoginForm();

        errors:Array<string> = [];


        public loginMessage: string = "Для доступа нужно зарегистрироваться";
        public needShowLoginMessage: boolean = false;

        created() {
            let that = this;
            if (this.$route.params["show_need_login_message"]) {
                this.needShowLoginMessage = true;
            }

            if (this.getUser.isPresent()) {
                that.$router.push({name: 'profile-page'})
            }
        }

        signin(){
            this.errors = this.loginForm.valid();
            if(this.errors.length > 0){
                return;
            }

            let that = this;
            axios
                .post("login", this.loginForm.toJson())
                .then((response) => {
                    that.$router.push({name: 'profile-page'})
                })
                .catch((error) => {
                    this.errors.push("Неверный логин или пароль")
                })
        }
    }
</script>

<style scoped>

    .blue-font{
        color: #178edf;
    }

    .border {
        border-radius: 10px;
    }

    .data {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .form {
        color: #596a80;
        position: relative;
    }

    .form-image {
        padding-left: 15px;
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
    }
    .form-image > h1 {
        font-size: 4rem;
    }

    .checkbox {
        height: 15px;
        width: 15px;
    }

    .login-button {
        margin: 0 0 0 10%;
        width: 90%
    }

    .login-buttons {
        display: flex;
        flex-direction: row;
        width: 100%
    }

    .checkbox-buttons{
        width: 60%;
        padding-left: 10px;
        display: flex;
        align-items: center;
        color: #c3d7f2;

    }

</style>